    {% include 'navbar.html' %}
    <div class="common_style">
  <h3 class="title">Cycle ingénieur</h3>
  <div class="desc">Le Cycle Ingénieur est étalé sur 3 ans soit sur 6 semestres.
      6 modules par semestre. Ce parcours scolaire comporte egalement des stages et des visites.
      Le dernier semestre du cycle est
      consacré à un Projet de Fin d’Etudes (PFE) réalisé en entreprise.
        Les filieres du cycle ingenieur :
  </div>

    <!-- admission section -->
    <section class="admission_section">

      <div class="container">
        <div class="row">

          <div class="col-md-6">

            <div class="admission_detail-box">

              <h3>
                <a href="ginf" class="call_to-btn btn_white-border">
                    GINF
                </a>
               <a href="gstr" class="call_to-btn btn_white-border">
                  GSTR
                </a>
               <a href="/gsea" class="call_to-btn btn_white-border">
                  GSEA
                </a></h3>

              <div class="">

                <a href="/g3ei" class="call_to-btn btn_white-border">
                  G3EI
                </a>
                <a href="/gind" class="call_to-btn btn_white-border">
                  GIND
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="admission_img-container">
              <img src="/static/images/admission.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>




    <!-- end admission section -->
    {% include 'footer.html' %}
