    {% include 'navbar.html' %}
    <div class="common_style">
<!-- why section -->
    <section class="why_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="why_img-container">
              <img src="/static/images/why.png" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="why_detail-box">
                <div>
                    {{ name}}

                 </div>
              <h3>
G3EI
              </h3>
              <p>
Eco-Energétique et Environnement Industriel              </p>
                <p>
                 cette filière est spécialisée dans la formation d’ingénieurs managers de l’énergie et de l’environnement, ouverts sur l’international, capables de concevoir et de piloter des systèmes énergétiques, de mettre en œuvre une politique et de conduire des projets de mise à niveau énergétiques et environnementaux au sein de l’entreprise.
              </p>
              <div class="">
                <h2>
Coordonnateur : Hanae El Kelkha
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
            <section class="why_section">

                <div class="row">
                   <div class="col-md-5 ml-5">
                     <img src="/static/images/semestres/g3ei/1.jpg" alt="g3ei S1">
                   </div>

                    <div class="col-md-5 ">

                       <img src="/static/images/semestres/g3ei/2.jpg" alt="g3ei S2">
                    </div>

                </div>

                  <div class="row">
                   <div class="col-md-5 ml-5">
                     <img src="/static/images/semestres/g3ei/3.jpg" alt="g3ei S1">
                   </div>

                    <div class="col-md-5 ">

                       <img src="/static/images/semestres/g3ei/4.jpg" alt="g3ei S2">
                    </div>

                </div>

                  <div class="row">
                   <div class="col-md-5 ml-5">
                     <img src="/static/images/semestres/g3ei/5.jpg" alt="g3ei S5-1">
                   </div>



                </div>
            </section>
    </div>



    <!-- end admission section -->
    {% include 'footer.html' %}
