    {% include 'navbar.html' %}
    <div class="common_style">
<!-- why section -->
    <section class="why_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="why_img-container">
              <img src="/static/images/why.png" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="why_detail-box">
                <div>
                    {{ name}}

                 </div>
              <h3>
GIND
              </h3>
              <p>
Génie Industriel et Logistique              </p>
                <p>
                cette filière vise à former des ingénieurs capables d’accompagner et de mener leurs collaborateurs en industrie et en logistique vers les objectifs visés en mettant en œuvre des qualités de relations humaines, de gestion d’équipe et de gestion de projet, pour expliquer, convaincre, motiver, animer, contrôler
              </p>
              <div class="">
                <h2>
Coordonnateur : Abderrazak Boumane              </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
            <section class="why_section">

                <div class="row">
                   <div class="col-md-5 ml-5">
                     <img src="/static/images/semestres/gind/1.jpg" alt="gind S1">
                   </div>

                    <div class="col-md-5 ">

                       <img src="/static/images/semestres/gind/2.jpg" alt="gind S2">
                    </div>

                </div>

                  <div class="row">
                   <div class="col-md-5 ml-5">
                     <img src="/static/images/semestres/gind/3.jpg" alt="gind S1">
                   </div>

                    <div class="col-md-5 ">

                       <img src="/static/images/semestres/gind/4.jpg" alt="gind S2">
                    </div>

                </div>

                  <div class="row">
                   <div class="col-md-5 ml-5">
                     <img src="/static/images/semestres/gind/5.jpg" alt="gind S5-1">
                   </div>



                </div>
            </section>
    </div>



    <!-- end admission section -->
    {% include 'footer.html' %}
