    {% include 'navbar.html' %}
    <div class="common_style">
<!-- why section -->
    <section class="why_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="why_img-container">

              <img src="/static/images/why.png" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="why_detail-box">
                 <div>
                    {{ name}}

                 </div>

              <h3>
                GINF
              </h3>
              <p>
Génie Informatique
              </p>
                <p>
                cette filière forme des ingénieurs capables d’intervenir dans l’étude de projets, le développement de logiciels, la maîtrise de la conception, de la programmation et du test des logiciels, la gestion de centres informatiques, l’administration de réseaux et de base de données.
              </p>
              <div class="">
               <h2>
                   Coordonnateur : Hassan Badir
              </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
            <section class="why_section">

                <div class="row">
                   <div class="col-md-5 ml-5">
                     <img src="/static/images/semestres/ginf/1.jpg" alt="ginf S1">
                   </div>

                    <div class="col-md-5 ">

                       <img src="/static/images/semestres/ginf/2.jpg" alt="ginf S2">
                    </div>

                </div>

                  <div class="row">
                   <div class="col-md-5 ml-5">
                     <img src="/static/images/semestres/ginf/3.jpg" alt="ginf S1">
                   </div>

                    <div class="col-md-5 ">

                       <img src="/static/images/semestres/ginf/4.jpg" alt="ginf S2">
                    </div>

                </div>

                  <div class="row">
                   <div class="col-md-5 ml-5">
                     <img src="/static/images/semestres/ginf/5.jpg" alt="ginf S5-1">
                   </div>

                    <div class="col-md-5">

                       <img src="/static/images/semestres/ginf/6.jpg" alt="ginf S5-2">
                    </div>

                </div>
            </section>
    </div>



    <!-- end admission section -->
    {% include 'footer.html' %}
