    {% include 'navbar.html' %}
    <div class="common_style">
<!-- why section -->
    <section class="why_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="why_img-container">
              <img src="/static/images/why.png" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="why_detail-box">
                <div>
                    {{ name}}

                 </div>
              <h3>
GSEA
              </h3>
              <p>
Génie des Systèmes électroniques et Automatiques
              </p>
                <p>
                cette filière contribue à la formation d’ingénieur capable d’utiliser et de développer dans un premier temps ses connaissances techniques, de s’adapter rapidement aux situations particulières techniques, d’évoluer et de prendre de plus en plus de responsabilités.
              </p>
              <div class="">
                <h2>
Coordonnateur : Cherkaoui Abdeljabbar
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
            <section class="why_section">

                <div class="row">
                   <div class="col-md-5 ml-5">
                     <img src="/static/images/semestres/gsea/1.jpg" alt="gsea S1">
                   </div>

                    <div class="col-md-5 ">

                       <img src="/static/images/semestres/gsea/2.jpg" alt="gsea S2">
                    </div>

                </div>

                  <div class="row">
                   <div class="col-md-5 ml-5">
                     <img src="/static/images/semestres/gsea/3.jpg" alt="gsea S1">
                   </div>

                    <div class="col-md-5 ">

                       <img src="/static/images/semestres/gsea/4.jpg" alt="gsea S2">
                    </div>

                </div>

                  <div class="row">
                   <div class="col-md-5 ml-5">
                     <img src="/static/images/semestres/gsea/5.jpg" alt="gsea S5-1">
                   </div>

                    <div class="col-md-5">

                       <img src="/static/images/semestres/gsea/6.jpg" alt="gsea S5-2">
                    </div>

                </div>
            </section>
    </div>



    <!-- end admission section -->
    {% include 'footer.html' %}
