    {% include 'navbar.html' %}
    <div class="common_style">
<!-- why section -->
    <section class="why_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="why_img-container">
              <img src="/static/images/why.png" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="why_detail-box">
                <div>
                    {{ name}}

                 </div>
              <h3>
GSTR
              </h3>
              <p>
 Génie des Systèmes de télécommunication et Réseaux
              </p>
                <p>
                Cette filière à pour mission de former des ingénieurs avec des compétences dans la conception,
                le développement, l’exploitation et la gestion des systèmes de traitement et de transmission
                    de l’information, l’administration de réseaux et de base de données.
              </p>
              <div class="">
                <h2>
               Coordonnateur : Mariam Tanana
              </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
            <section class="why_section">

                <div class="row">
                   <div class="col-md-5 ml-5">
                     <img src="/static/images/semestres/gstr/1.jpg" alt="GSTR S1">
                   </div>

                    <div class="col-md-5 ">

                       <img src="/static/images/semestres/gstr/2.jpg" alt="GSTR S2">
                    </div>

                </div>

                  <div class="row">
                   <div class="col-md-5 ml-5">
                     <img src="/static/images/semestres/gstr/3.jpg" alt="GSTR S1">
                   </div>

                    <div class="col-md-5 ">

                       <img src="/static/images/semestres/gstr/4.jpg" alt="GSTR S2">
                    </div>

                </div>

                  <div class="row">
                   <div class="col-md-5 ml-5">
                     <img src="/static/images/semestres/gstr/5.jpg" alt="GSTR S5-1">
                   </div>

                    <div class="col-md-5">

                       <img src="/static/images/semestres/gstr/6.jpg" alt="GSTR S5-2">
                    </div>

                </div>
            </section>
    </div>



    <!-- end admission section -->
    {% include 'footer.html' %}
