    {% include 'navbar.html' %}
<div class="common_style">

    <!-- about section -->
    <section class="about_section">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div >
              <img src="/static/images/determine.png" alt="">
            </div>
          </div>
          <div class="col-md-7">
            <div class="about_detail-box">
              <h3>
La formation d'ingénierie de l'école nationale des sciences appliquées de Tanger
              </h3>
              <p>
                L’ENSA de Tanger est une école d’ingénieurs à recrutement post-baccalauréat qui forme en cinq ans des ingénieurs dans 5 spécialités.
                  L’architecture pédagogique de l’ENSA de Tanger est articulée autour de deux cycles : un Cycle Préparatoire intégré de 2 ans (soit 4 semestres) et un Cycle Ingénieur de 3 ans (soit 6 semestres).
                  A la fin de ce cycle preparatoire , l'étudiant est appellé a faire un choix de filière parmis les 5 specialités qu'offre l'école pour son cycle ingenieur.
ce site vise a aider cet étudiant a faire son choix avec un test simple autout de ses preferences.
                 <span class="big-text">ESSAYER: </span>
                </p>
              <div class="">
                <a href="/passerTest" class="call_to-btn btn_white-border">
                  passer le test
                </a>
                <a href="/filieres" class="call_to-btn btn_white-border">
                 voir les filieres
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
     </div>
         </div>

    {% include 'footer.html' %}
