       {% include 'navbar.html' %}

     <div class="backgroundTest">
<section class="hero_section">
      <div class="hero-container container">
        <div class="hero_detail-box">

          <h1 >
            Test de filière
          </h1>

          <div id="form-container" class="cadre">

    <form id="quiz-form" method="POST" action='/result'>
      <!-- Créez une div pour chaque question -->

            <!-- Question1 -->
      <div id="ginf1" class="question"> <p>1- Suis-je prêt à me consacrer à des études intensives et à une carrière axée sur la résolution de problèmes complexes</p>
          <!-- Question1  answers  -->
          <div class="answer">
                 <input type="radio" id="q1a1" name="ginf1" value="0" required>
                 <label for="q1a1">0%</label>
         </div>
         <div class="answer">
                  <input type="radio" id="q1a2" name="ginf1" value="25" required >
                  <label for="q2a2">25%</label>
         </div>
          <div class="answer">
                  <input type="radio" id="q1a3" name="ginf1" value="50" required>
                  <label for="q1a2">50%</label>
          </div>
        <div class="answer">
                    <input type="radio" id="q1a4" name="ginf1" value="75" required>
                    <label for="q1a2">75%</label>
        </div>
         <div class="answer">
                    <input type="radio" id="q1a5" name="ginf1" value="100" required>
                    <label for="q1a2">100%</label>
         </div>
      </div>

        <!-- Question2 -->
      <div id="gstr1" class="question" style="display:none"> <p>2- Aimez-vous comprendre comment les réseaux fonctionnent et résoudre les problèmes liés à la connectivité </p>
  <!-- Question2 answers  -->
        <div class="answer">
                    <input type="radio" id="q2a1" name="gstr1" value="0" required>
                    <label for="q2a1">0%</label>
        </div>
        <div class="answer">
                    <input type="radio" id="q2a2" name="gstr1" value="25" required>
                    <label for="q2a2">25%</label>
        </div>
        <div class="answer">
                    <input type="radio" id="q2a3" name="gstr1" value="50" required>
                    <label for="q2a2">50%</label>
        </div>
        <div class="answer">
                    <input type="radio" id="q2a4" name="gstr1" value="75" required>
                    <label for="q2a2">75%</label>
        </div>
        <div class="answer">
                    <input type="radio" id="q2a5" name="gstr1" value="100" required>
                    <label for="q2a2">100%</label>
        </div>
      </div>

        <!-- Question3 -->
      <div id="gsea1" class="question" style="display:none">
        <p>3- Aimez-vous étudier les systèmes électroniques et automatisés
</p>
  <!-- Question3 answers  -->
        <div class="answer">
        <input type="radio" id="q3a1" name="gsea1" value="0">
                    <label for="q3a1">0%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q3a2" name="gsea1" value="25">
                    <label for="q3a2">25%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q3a3" name="gsea1" value="50">
                    <label for="q3a3">50%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q3a4" name="gsea1" value="75">
                    <label for="q3a4">75%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q3a5" name="gsea1" value="100">
                    <label for="q3a5">100%</label>

         </div>


      </div>

        <!-- Question4 -->
      <div id="ginf2" class="question" style="display:none">
        <p>4- suis je intéréssé par l'analyser des données informatiques et concevoir des architecture des applications web</p>
  <!-- Question4 answers  -->
        <div class="answer">
        <input type="radio" id="q4a1" name="ginf2" value="0">
                    <label for="q4a1">0%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q4a2" name="ginf2" value="25">
                    <label for="q4a2">25%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q4a3" name="ginf2" value="50">
                    <label for="q4a3">50%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q4a4" name="ginf2" value="75">
                    <label for="q4a4">75%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q4a5" name="ginf2" value="100">
                    <label for="q4a5">100%</label>

         </div>


      </div>
        <!-- Question5 -->
      <div id="gind1" class="question" style="display:none">
        <p>5- Avez-vous de l'intérêt pour la planification et la coordination des activités d'une entreprise</p>
  <!-- Question5 answers  -->
        <div class="answer">
        <input type="radio" id="q5a1" name="gind1" value="0">
                    <label for="q5a1">0%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q5a2" name="gind1" value="25">
                    <label for="q5a2">25%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q5a3" name="gind1" value="50">
                    <label for="q5a3">50%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q5a4" name="gind1" value="75">
                    <label for="q5a4">75%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q5a5" name="gind1" value="100">
                    <label for="q5a5">100%</label>

         </div>


      </div>
        <!-- Question6 -->
      <div id="gstr2" class="question" style="display:none">
        <p>6- Etes-vous intéressé par la sécurité des réseaux et par les moyens de la protéger</p>
  <!-- Question6 answers  -->
        <div class="answer">
        <input type="radio" id="q6a1" name="gstr2" value="0">
                    <label for="q6a1">0%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q6a2" name="gstr2" value="25">
                    <label for="q6a2">25%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q6a3" name="gstr2" value="50">
                    <label for="q6a3">50%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q6a4" name="gstr2" value="75">
                    <label for="q6a4">75%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q6a5" name="gstr2" value="100">
                    <label for="q6a5">100%</label>

         </div>


      </div>
        <!-- Question7 -->
      <div id="g3ei1" class="question" style="display:none">
        <p>7- Êtes-vous intéressé par les solutions et la performance des énergies durables</p>
  <!-- Question7 answers  -->
        <div class="answer">
        <input type="radio" id="q7a1" name="g3ei1" value="0">
                    <label for="q7a1">0%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q7a2" name="g3ei1" value="25">
                    <label for="q7a2">25%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q7a3" name="g3ei1" value="50">
                    <label for="q7a3">50%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q7a4" name="g3ei1" value="75">
                    <label for="q7a4">75%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q7a5" name="g3ei1" value="100">
                    <label for="q7a5">100%</label>

         </div>


      </div>
        <!-- Question8 -->
      <div id="gsea2" class="question" style="display:none">
        <p>8- Êtes-vous intéressé par la robotique </p>
  <!-- Question8 answers  -->
        <div class="answer">
        <input type="radio" id="q8a1" name="gsea2" value="0">
                    <label for="q8a1">0%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q8a2" name="gsea2" value="25">
                    <label for="q8a2">25%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q8a3" name="gsea2" value="50">
                    <label for="q8a3">50%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q8a4" name="gsea2" value="75">
                    <label for="q8a4">75%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q8a5" name="gsea2" value="100">
                    <label for="q8a5">100%</label>

         </div>


      </div>
        <!-- Question9  -->
      <div id="gind2" class="question" style="display:none">
        <p>9- Avez-vous de l'intérêt pour l'analyse des coûts, la gestion de stock , la prise de decision,  l'optimisation des flux</p>
  <!-- Question9 answers  -->
        <div class="answer">
        <input type="radio" id="q9a1" name="gind2" value="0">
                    <label for="q9a1">0%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q9a2" name="gind2" value="25">
                    <label for="q9a2">25%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q9a3" name="gind2" value="50">
                    <label for="q9a3">50%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q9a4" name="gind2" value="75">
                    <label for="q9a4">75%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q9a5" name="gind2" value="100">
                    <label for="q9a5">100%</label>

         </div>


      </div>

        <!-- Question10 -->
      <div id="g3ei2" class="question" style="display:none">
        <p>10- Êtes-vous passionné par les enjeux liés au changement climatique et à la transition énergétique</p>
  <!-- Question10 answers  -->
        <div class="answer">
        <input type="radio" id="q10a1" name="g3ei2" value="0">
                    <label for="q10a1">0%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q10a2" name="g3ei2" value="25">
                    <label for="q10a2">25%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q10a3" name="g3ei2" value="50">
                    <label for="q10a3">50%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q10a4" name="g3ei2" value="75">
                    <label for="q10a4">75%</label>

         </div>
        <div class="answer">
        <input type="radio" id="q10a5" name="g3ei2" value="100">
                    <label for="q10a5">100%</label>

         </div>


      </div>
      <!-- etc. -->
      <!-- Ajoutez un bouton pour passer à la question suivante -->
              <div>

      <button type="button"  id="next-button" class="btn">Question suivante</button>
                        </div>
<p class="blackC">
Vous devez répondre a tout les questions sinon vous n'aurez pas de resultat.          </p>
      <!-- Ajoutez un bouton de soumission pour la dernière question -->
                                <div >

      <input type="submit" value="Soumettre" id="submit-button"  class="btn" style="display:none">
                                          </div>

    </form>
    </div>
        </div>

</div>

      </div>
    </section>
               </div>


    {% include 'footer.html' %}
